body {
    padding: 0px;
    margin: 0;
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.main-header {
    max-width: 1600px;
    min-height: 91px;
    margin: auto;
}

.main-nav {
    max-width: 1100px;
    height: 91px;
    margin: auto;
}

.site-logo {
    float: left;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #555252;
    font-family: 'Roboto';
    margin-top: 18px;
}

.site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
    font-family: 'Roboto'
}

.nav-list {
    float: right;
    list-style: none;
    padding: 0;
}

.nav-list-item {
    display: inline-block;
}

.nav-list-item:not(:last-child) {
    margin-right: 20px;
}

.nav-list-item a {
    color: #0f0101;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans'
}

.nav-list-item a:hover {
    color: #1abc9c;
    font-weight: 700;
    cursor: pointer;
}

main {
    background-color: #e9f0fd;
}

.header-of-main {
    min-height: 550px;
    max-width:100%;
    margin: auto;
    margin-bottom: 50px;
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/girl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slide {
    width: 104px;
    height: 104px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 225px;
    opacity: 0.5;
}

.slide:hover {
    background-color: #4ec6ab;
}

.left {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/left.png);
    left: 245px;
}

.right {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/right.png);
    right: 245px;
}

.header-title-container {
    max-width: 738px;
    min-height: 98px;
    position: absolute;
    left: 440px;
    top: 219px;
    padding-top: 1px;
    box-sizing: border-box;
    margin: 0;
}

.header-title1 {
    width: 738px;
    height: 60px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: -1.2px;
    margin: 5px;
}

.header-title2 {
    color: #ffffff;
    width: 738px;
    height: 38px;
    font-size: 24px;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: -1.2px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
}

h1::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.new-collection-list {
    max-width: 1600px;
    min-height: 500px;
    margin: auto;
    padding-left: 245px;
    padding-right: 245px;
    padding-bottom: 100px;
    box-sizing: border-box;
    font-size: 0;
}

.new-collection-list-item {
    display: inline-block;
    margin: auto;
    position: relative;
    font-size: 0;
    min-height: 362px;
}

.new-collection-list-item:not(:last-child) {
    margin-right: 26px;
}

.new-collection-list-item a {
    display: block;
    width: 255px;
    height: 40px;
    text-decoration: none;
    background-color: #323232;
    font-weight: 900;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto';
    color: #ffffff;
    box-sizing: border-box;
    background: linear-gradient( to right, #323232 80%, #8c8c8c 20%);
}

.new-collection-list-item a:hover {
    background: linear-gradient( to right, #1abc9c 80%, #7fd9c7 20%);
}

.name-stuff {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}

.cost-stuff {
    box-sizing: border-box;
    float: right;
    width: 51px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.new-collection-list-hover {
    position: absolute;
    height: 322px;
    width: 255px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.new-collection-list-hover:hover {
    background-color: black;
    opacity: 0.5;
    border: 10px solid #ffffff;
}

.new-collection-list-hover:hover>button {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
}

.new-collection-list-hover:hover>button:hover {
    background-color: #17a186;
}
.new-collection-list-hover:active>button:hover {
    background-color: #106655;
}

.new-collection-list-hover:hover>.cart {
    width: 166px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    display: inline-block;
}


.social-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    outline: none;
}

.heart {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/heart.png);
    top: 100px;
    left: 36px;
}

.arrows {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/arrows1.png);
    top: 100px;
    left: 94px;
}

.timer {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/timer1.png);
    top: 100px;
    right: 33px;
}

.cart {
    width: 130px;
    height: 200px;
    border: none;
    position: absolute;
    top: 160px;
    left: 36px;
    display: none;
    outline: none;
    vertical-align: middle;
}

.cart p {
    height: 20px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 3px;
}

.cart-image {
    height: 50px;
    display: inline-block;
    content: "";
    background-color: transparent;
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-05/img/cart1.png);
    background-size: contain;
    width: 28px;
    height: 27px;
    margin-right: 15px;
    vertical-align: middle;
}

footer {
    max-width: 100%;
    min-height: 88px;
    background-color: #323232;
    margin: auto;
    font-size: 16px;
    color: #fefefe;
    font-weight: 400;
    line-height: 28px;
    display: flex;
}

footer p {
    margin: auto;
}

autor {
    color: #46bfa9;
    letter-spacing: -0.32px;
}