.forId{
    margin-bottom: 5px;
}
.name{
    margin-bottom: 5px;
    display: block;
}
.username{
    margin-bottom: 5px;
    display: block;
}

button{
    background-color: white;
    border-color: black;
    height: 50px;
    cursor: pointer;
    transition: all 300ms;
}
button:hover{
    background-color: gray;
}
button:active{
    
}

.usersList{
    display: hide
}

/* .liFrame{
    border: 3px solid brown
} */

li{
    display: inline-block
}