body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.eot');
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'),
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v7-latin-700.eot');
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'), url('../fonts/roboto-slab-v7-latin-700.woff') format('woff'),
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-regular.woff') format('woff'),
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-700.woff') format('woff'),
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v12-latin-800.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('../fonts/montserrat-v12-latin-800.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-800.woff') format('woff'),
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v9-latin-regular.eot');
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url('../fonts/dancing-script-v9-latin-regular.woff2') format('woff2'), url('../fonts/dancing-script-v9-latin-regular.woff') format('woff'),
}

header {
    max-width: 100%;
    min-height: 50px;
    margin: auto;
}

.main-nav {
    max-width: 950px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
}

.site-logo {
    font-size: 26px;
    font-weight: 400px;
    line-height: 41px;
    letter-spacing: 1.3px;
    color: #fed136;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.nav-list {
    min-height: 50px;
    max-width: 600px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.nav-list-item {
    display: inline;
}

.nav-list-item:not(:last-child) {
    margin-right: 20px;
}

.nav-list-item a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.nav-menu-item:hover {
    color: #fed136;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
}

main {
    max-width: 100%;
}

.services {
    max-width: 950px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

.services-title {
    text-align: center;
    color: #222222;
    font-weight: 700;
    letter-spacing: -1;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.services-subtext {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #777777;
    margin-bottom: 70px;
    margin-top: 0;
}

.services-list {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 0;
}

.services-list-item {
    width: 274px;
    min-height: 184px;
}

.services-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.services-list-item a {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.45;
    color: #222222;
    text-decoration: none;
    display: block;
}

.img-wrapper {
    width: 68px;
    min-height: 67px;
    border-radius: 60px;
    border: 5px solid #fed136;
    display: flex;
    margin: auto;
}

.services-list-item img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.services-list-item p {
    text-align: center;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35;
    font-family: 'Roboto Slab', serif;
}

.contacts {
    width: 100%;
    min-height: 676px;
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-07/img7/map-image.png);
    background-position-x: 70%;
    background-position-y: 65%;
    background-color: black;
    background-size: 33%;
    background-repeat: no-repeat;
    padding-top: 1px;
}

.form-wrapper {
    max-width: 950px;
    margin: auto;
}

.contact-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #ffffff;
    margin-top: 110px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.contacts-subtext {
    color: #777777;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin-bottom: 115px;
    margin-top: 0;
}

.contacts-wrapper {
    width: 455px;
    min-height: 210px;
    display: inline-block;
    padding: 0;
}

.user-contacts-item {
    width: 455px;
    min-height: 50px;
    border: none;
    padding: 10px;
    display: block;
    margin-bottom: 30px;
    box-sizing: border-box;
}

input:required:valid {
    outline: 3px solid green;
}

input:required:invalid {
    outline: 1px solid red;
}

textarea:required:valid{
    outline: 3px solid green;
}

textarea:required:invalid{
    outline: 1px solid red;
}

.subject {
    width: 455px;
    min-height: 50px;
    border: none;
    padding: 0;
}

.message {
    display: inline-block;
    width: 400px;
    min-height: 210px;
    vertical-align: top;
    margin-left: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

.send {
    width: 240px;
    min-height: 66px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: #fed136;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms linear;
    border: 1px solid transparent;
    outline: none;
}

.send:hover {
    background-color: transparent;
    border: 1px solid #fed136;
    color: #fed136;
}

.send:active {
    transform: scale(0.97, 0.97)
}