.team-section {
    max-width: 1200px;
    padding-top: 30px;
    margin: auto;
    margin-bottom: 200px;
}

.team-section__text-about-team {
    max-width: 941px;
    min-height: 39px;
    font-size: 15px;
    color: #999999;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.team-section__text-before-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    margin-top: 0;
}

.team-section__title {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    &::after {
        @extend%after;
    }
}