h1 {
    margin-top: 30px;
    margin-top: 30px;
}

h2 {
    text-align: center;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.header>.container>.row>[class*=col-]>a {
    text-transform: uppercase;
    color: #ffffff;
    transition: all 300ms linear;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.header>.container>.row>[class*=col-]>a:hover {
    color: #ff4e50;
}

.header>.container>.row>[class*=col-]>a:nth-child(:last-child) {
    font-size: 30px;
    color: red;
}

.header .container .row>[class*=col-] {
    text-align: center;
}

.main>.container {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.main>.container>.row>.col-12:nth-child(1) {
    margin-bottom: 30px;
}

.main>.container>.row>.col-12:nth-child(n+2) {
    margin-bottom: 20px;
}

.main .container .row .col-12>button {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #ff4e50;
    color: #ffffff;
    cursor: pointer;
    transition: all 300ms linear;
    border: 1px solid transparent;
}

.main .container .row .col-12>button:hover {
    border: 2px solid #ff4e50;
    background-color: transparent;
    color: black;
}

.header .container .row .col-7>button {
    width: 200px;
    height: 25px;
}

a:hover {
    text-decoration: none;
}

.col-12 {
    text-align: center;
}

.header .container .row .col-12>button {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 30px;
    outline: none;
    background-color: #ff4e50;
    border: none;
    color: #ffffff;
    transition: all 300ms linear;
    cursor: pointer;
    border: 1px solid transparent;
}

.header .container .row .col-12>button:hover {
    border: 1px solid #ffffff;
}

.header .container .row .col-12:nth-child(2) {
    margin-bottom: 100px;
    color: #ffffff;
}

.header .container .justify-content-center {
    margin-bottom: 100px;
}

.header>.container>.row>a {
    color: white;
}

h1 {
    color: #ffffff;
}

.partner-item>.row>[class*=col-] {
    margin-bottom: 5px;
}

@media (min-width: 320px) {
    .header {
        background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-08/img/header-mobile.png);
        height: 540px;
    }
    @media (min-width: 768px) {
        .header {
            background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-08/img/header-tablet.png);
            height: 740px;
        }
        @media (min-width: 1440px) {
            .header {
                background-image: url(https://drapaliuk.github.io/goit-fe-cource/html-css/module-08/img/vector-smart-object.png);
                height: 700px;
            }
            .header .container .row .col-12:nth-child(2){
                margin-bottom: 100px;
            }
            .header .container .justify-content-center{
                margin-bottom: 170px;
            }