.cloak {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    transition: all 3s linear;
    background: linear-gradient(#e88283, #fce38a);
}

.cloak:hover {
    background: linear-gradient(#e88283, #ed8889, #f4ad8e, #fce38a);
}