
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

main {
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin: auto;
    margin-top: 25px;
}

author {
    color: #f38181;
}