.main-nav-menu {
    width: 620px;
    min-height: 50px;
}

.main-nav-menu__item {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    min-height: 34px;
}

.main-nav-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.main-nav-menu__link:hover::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #fce38a;
    margin: auto;
    transition: all 1s linear;
}

.main-nav-menu--contact:hover::after{
    width:67px; 
}
.main-nav-menu--blog:hover::after{
    width: 38px;
}
.main-nav-menu--work:hover::after{
    width: 46px;
}
.main-nav-menu--srvice:hover::after{
    width: 60px;
}
.main-nav-menu--about:hover::after{
    width: 51px;
}
.main-nav-menu__icon {
    fill: #ffffff;
    width: 14px;
    height: 14px;
}

.main-nav-menu__icon:hover {
    fill: #fce38a;
    text-decoration: none;
}

.main-nav-menu__link:hover {
    color: #fce38a;
    -webkit-text-decoration-style: bold;
    text-decoration-style: bold;
    cursor: pointer;
}