.main-nav__logo {
    font-size: 30px;
    font-style: bold;
    color: #ffffff;
    text-decoration: none;
    width: 130px;
    height: 68px;
    margin-top: 16px;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100px;
    width: 1196px;
    margin: auto;
}