footer {
    max-width: 100%;
    min-height: 51px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #e7e7e7;
    margin-left: 50px;
    margin-right: 50px;
}

.page-footer {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
}