.services{
    width: 1920px;
    min-height:600px;
    margin: auto;
}
.services__text{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}