.services-list {
    width: 1142px;
    min-height: 419px;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.services-list__title {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
}

.services-list__text {
    font-size: 15px;
    width: 250px;
    color: #999999;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}

.services-list__item {
    width: 332px;
    min-height: 69;
    list-style: none;
}

.services-list__title::before {
    content: "";
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 40px;
}

.services-list--photography::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/alarm.png);
}

.services-list--web-design::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/graph.png);
}

.services-list--creativity::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/computer.png);
}

.services-list--seo::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/book.png);
}

.services-list--csshtml::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/home.png);
}

.services-list--digital::before {
    background-image: url(https://drapaliuk.github.io/goit-fe-cource/module-10/icon/image.png);
}